<nav class="navbar navbar-expand-lg " style="background-color: pink;">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
          <a class="navbar-brand" href="#">
            <img src="./assets/logo1.png" alt="Logo" style="width:60px;">
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign-In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" routerLink='/loginuser'>User Login</a>
              <a class="dropdown-item" href="#" routerLink='/loginadmin'>Admin Login</a>
            
            </div>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/registercustomer'>Sign-Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/addproduct'>Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/userlist'>Customer Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/productlist'>Product list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/productcrud'>Product Details</a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>