<body >
    <link rel="stylesheet" href="register-admin.component.css">
    <section class="From my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="./assets/food.png"  alt="food">
                </div>
                <div class="col-lg-7 px-5 py-5">
                    <h1 class="font-weight-bold-py-3">Welcome to E-Grocery store</h1>
                    <h4>Create Account here...</h4> E-Grocery
  
    <form #Form=ngForm (ngSubmit)="onSubmit()">
        <table>

            
            <tr>
                <td for="firstname">First Name</td>
                    
                <td>
                    <input required id="firstname" name="firstname" [(ngModel)]="userObj.firstName" 
                    class="form-control my-3 p-1" type="text"  pattern="^[a-zA-Z]+$"  maxlength="12" #firstname="ngModel" />
                    <span *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)"
                     class="alert alert-danger"> FirstName is required</span>
                    </td>
                
               
                
            </tr>

            <tr>
                <td>Last Name</td>
                <td>
                    <input required id="lastName" name="lastName" [(ngModel)]="userObj.lastName" 
                    class="form-control my-3 p-1" type="text" pattern="^[a-zA-Z]+$" maxlength="12" #lnamecontrol='ngModel' />
                    <span *ngIf="lnamecontrol.invalid && lnamecontrol.touched"  class="alert alert-danger"> LastName is required</span>
                 </td>
               
            </tr>

            <tr>
                <td>LoginId</td>
                <td>
                    <input required id="login" name="loginId" [(ngModel)]="userObj.loginId" 
                    class="form-control my-3 p-1" type="text" #logincontroller='ngModel' />
                    <span *ngIf="logincontroller.invalid && logincontroller.touched" class="alert alert-danger"> Login is required</span>
                </td>
                
            </tr>

            <tr>
                <td>Password</td>
                <td>
                    <input required id="password" name="password" [(ngModel)]="userObj.password" 
                    class="form-control my-3 p-1" type="text" #passwordcontroller='ngModel' />
                    <span *ngIf="passwordcontroller.invalid && passwordcontroller.touched" class="alert alert-danger"> password is required</span>
                </td>
                
            </tr>

            <tr>
                <td>Mobile No</td>
                <td>
                    <input required id="mobileNo" name="mobileNo" [(ngModel)]="userObj.mobileNo" 
                    class="form-control my-3 p-1" type="text" #mobilenocontroller='ngModel' />
                    <span *ngIf="mobilenocontroller.invalid && mobilenocontroller.touched" 
                    class="alert alert-danger"> mobile no is required</span>
                </td>
               
            </tr>

            <tr>
                <td>Email</td>
                <td>
                    <input required id="email" name="email" [(ngModel)]="userObj.emailId" 
                    class="form-control my-3 p-1" type="email" #emailcontroller='ngModel' />
                    <span *ngIf="emailcontroller.invalid && emailcontroller.touched" 
                    class="alert alert-danger"> E-mail is required</span>
                </td>
            </tr>

           
               <tr>
                <td>RoleId</td>
                <td>
                    <input required id="roleid" name="roleid" [(ngModel)]="userObj.roleId" type="number" 
                    class="form-control my-3 p-1" #rolecontroller='ngModel'  />
                     <span *ngIf="rolecontroller.invalid && rolecontroller.touched"  
                     class="alert alert-danger"> ID is required</span> 
                </td>
            </tr> 

            <tr>
                <input type="submit" [disabled]="!Form.form.valid" class="btn1 mt-3 mb-5"  value="REGISTER">
              </tr>


             </table>
    </form>
                </div>
                </div>
                </div>
    </section>
</body>
