
<form #contactForm="ngForm" (ngSubmit)="onSubmit()">
 
    <table>
      
      <tr>
    
     <td>  
        <label for="name">Name</label>
     </td>
     <td>
        <input type="text" name="name" [(ngModel)]="OrderObj.name">
     </td>
        </tr>


        <tr>
    
            <td>  
               <label for="emailId">Email Id</label>
            </td>
            <td>
               <input type="email" name="emailId" [(ngModel)]="OrderObj.emailId">
            </td>
               </tr>

        <tr>
            <td>  
               <label for="address">Address</label>
            </td>
            <td>
               <input type="text" name="address" [(ngModel)]="OrderObj.address" />
            </td>
               </tr>
               <tr>
                  <td>  
                     <label for="district">District</label>
                  </td>
                  <td>
                     <input type="text" name="district" [(ngModel)]="OrderObj.district" />
                  </td>
                     </tr>
          

        <tr>
          <td>
          <label for="state">State</label>
        </td>
        <td>
          <input type="text" name="state" [(ngModel)]="OrderObj.state">
          </td>
          
        
        </tr>

          
        <tr>
            <td>
            <label for="pincode">Pincode</label>
          </td>
          <td>
            <input type="text" name="pincode" [(ngModel)]="OrderObj.pincode">
          </td>
          </tr>

          <tr>
            <td>
            <label for="country">Country</label>
          </td>
          <td>
            <input type="text" name="country" [(ngModel)]="OrderObj.country">
          </td>
          </tr>

          <tr>
            <td>
            <label for="mobileno">Mobile No</label>
          </td>
          <td>
            <input type="string" name="mobileno" [(ngModel)]="OrderObj.mobileNo">
          </td>
          </tr>
         
          
          <tr>
            <td>
            <label for="quantity">Quantity</label>
          </td>
          <td>
            <input type="number" name="quantity" [(ngModel)]="OrderObj.quantity">
          </td>
          </tr>
          
         
         
         
          <tr>
            <input type="submit" [disabled]="!contactForm.form.valid" class="btn1 mt-3 mb-5"  value="Order">
          </tr>

         
     
      </table>
      <div>
      
      </div>
      </form>