<
<div class="conatiner">
    <div class="input-group">
        <div class="col-sm-2">
        <input type="search" class="form-control rounded"  [(ngModel)]="loginId" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        </div>
        <button type="button" (click)="search()" class="btn btn-outline-primary">search</button>
        <p   class="alert-danger">{{errorMsg}}</p>
      </div>
    <table class="table table-bordered table-primary">
        <tr class="table-warning"><th>Login ID</th><th>First Name</th><th>Last Name</th><th>email</th><th>Action</th></tr>
    <tr class="table-danger" *ngFor="let userObj of userList1">
        
         <td class="table-primary">{{userObj.loginId}}</td>
    <td class="table-primary">{{userObj.firstName}}</td>
    <td class="table-primary">{{userObj.lastName}}</td>
    <td class="table-primary">{{userObj.emailId}}</td>

      <td>

        <button (click)="showUser(userObj.id)">Details</button>  
        <button (click)="deleteUser1(userObj.id)">Delete</button>
        <!-- <button (click)="editUser(userObj.id)">update</button>   -->
     
    </tr> 
    </table>
    </div>