<p>user-detail works!</p>


<div class="conatiner">
    <div class="header">
        User List
    </div>
    <table class="table table-bordered">
        <tr class="table-warning"><th>Login ID</th><th>First Name</th><th>Last Name</th><th>email</th><th>Action</th></tr>
    <tr class="table-danger" *ngFor="let userObj of userList1">
        <td>{{userObj.loginId}}</td>
    <td>{{userObj.firstName}}</td>
    <td>{{userObj.lastName}}</td>
    <td>{{userObj.emailId}}</td>
     <!-- <td><button (click)="deleteUser1(userObj.id)">Delete</button></td> -->
    </tr> 
    </table>
    </div>