<p>user-detail works!</p>


<div class="conatiner">
    <div class="header">
        User List
    </div>
    <table class="table table-bordered table-primary">
        <tr class="table-warning"><th>Login ID</th><th>First Name</th><th>Last Name</th><th>email</th><th>Action</th></tr>
    <tr class="table-danger" *ngFor="let userObj of userList1">
        <td>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{userObj.loginId}}</h5>
              <p class="card-text">{{userObj.firstName}}</p>
              <p class="card-text">{{userObj.emailId}}</p>
            </div>
          </div>
          </td>
        <!-- <td class="table-primary">{{userObj.loginId}}</td>
    <td class="table-primary">{{userObj.firstName}}</td>
    <td class="table-primary">{{userObj.lastName}}</td>
    <td class="table-primary">{{userObj.emailId}}</td>

      <td>

        <button (click)="showUser(userObj.id)">Details</button>  
        <button (click)="deleteUser1(userObj.id)">Delete</button>
        -->
    </tr> 
    </table>
    </div>