
<div class="conatiner">
    <div class="header">
        User List
    </div>
    <div class="input-group">
        <div class="col-sm-2">
        <input type="search" class="form-control rounded"  [(ngModel)]="name" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        </div>
        <button type="button" (click)="search()" class="btn btn-outline-primary">search</button>
      </div>
    <table class="table table-bordered">
        <tr class="table-primary"><th>Product ID</th><th>Product Code</th><th>Product Name</th><th>Price</th><th>Quantity</th><th>Action</th></tr>
    <tr *ngFor="let productObj of productList">
        
         <td class="table-primary">{{productObj.id}}</td>
    <td class="table-primary">{{productObj.code}}</td>
    <td class="table-primary">{{productObj.name}}</td>
    <td class="table-primary">{{productObj.price}}</td>
    <td class="table-primary">{{productObj. quantity}}</td>

      <td>

       
        <button (click)="editProduct(productObj.id)">Update</button>
        <button (click)="deleteProduct(productObj.id)">Delete</button>
    
    </tr> 
    </table>
    </div>