<body>
    <link rel="stylesheet" href="reset-password.component.css">
    <section class="From my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img  src="./assets/food.png"class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 py-5">
                    <h1 class="font-weight-bold-py-3">Welcome to E-Grocery store</h1>
                    <h4>Reset Password</h4>
                    <form #Form=ngForm (ngSubmit)="onSubmit()">
                
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input required id="newpassword" name="newpassword" placeholder="New Password"
                                 class="form-control my-3 p-4" [(ngModel)]="newpass" type="password" 
                                  />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input required id="cnfmnewpassword" name="cnfmnewpassword" placeholder="Confirm New Password"
                                 class="form-control my-3 p-4" type="password" 
                                  />
                            </div>
                        </div>
                       <!-- <p   class="alert-danger">{{error}}</p> -->
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn btn-primary" [disabled]="Form.invalid" 
                                class="btn1 mt-3 mb-5">Confirm</button>
                                <button class ="btn btn-primary" class="btn1 mt-2 mb-5">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    </body>





