 <div class="conatiner">
    <div class="header">
        Product List
    </div>
    <!-- <table class="table table-bordered table-primary"> -->
        <!-- <tr class="table-warning"><th>Product ID</th><th>Code</th><th>Name</th><th>Description</th><th>price</th></tr> -->
    <tr class="table-danger" *ngFor="let productObj of productList">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://sc04.alicdn.com/kf/UTB8L4HPotnJXKJkSaiyq6AhwXXam.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{productObj.name}}</h5>
              <p class="card-text">{{productObj.code}}</p>
              <p class="card-text">{{productObj.price}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://sc04.alicdn.com/kf/UTB8L4HPotnJXKJkSaiyq6AhwXXam.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{productObj.name}}</h5>
              <p class="card-text">{{productObj.code}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
   
        <!-- <td> -->
        <!-- <div class="card"  style="width: 18rem;">
            <img class="card-img-top" src="https://sc04.alicdn.com/kf/UTB8L4HPotnJXKJkSaiyq6AhwXXam.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{productObj.name}}</h5>
              <p class="card-text">{{productObj.code}}</p>
              <p class="card-text">{{productObj.price}}</p>
              <p class="card-text">{{productObj.quantity}}</p>
            </div>
          </div> -->
          <!-- </td> -->
        </tr>
      
    <!-- </table> -->
    </div> 