
 <div class="conatiner">
  
  <div class="input-group">
    <div class="col-sm-2">
    <input type="search" class="form-control rounded"  [(ngModel)]="name" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    </div>
    <button type="button" (click)="search()" class="btn btn-outline-primary">search</button>
  </div>
  
     <table class="table table-bordered table-primary text-center">
      
        <div class="card-group">
          
    <tr class="table-danger" *ngFor="let productObj of productList">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://sc04.alicdn.com/kf/UTB8L4HPotnJXKJkSaiyq6AhwXXam.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{productObj.name}}</h5>
              <p class="card-text">Product Code:{{productObj.code}}</p>
              <p class="card-text">Stock:{{productObj.quantity}}</p>
              <p class="card-text">Price:{{productObj.price}}</p>
              
          <a href="#" class="btn btn-primary" routerLink="/order/{{productObj.id}}">Order</a>
            </div>
         
          </div>
        </div>
       </div>
      
       
        </tr>
      
      </div>
    </table>
  
    </div> 